includes:
	- phpstan-baseline.neon

parameters:
    level: 8
    phpVersion:
        min: 80200
        max: 80509
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    scanFiles:
        - tests/phpstan-shims/PHPUnit/Framework/MockObject/InvocationMocker.php
        - tests/phpstan-shims/PHPUnit/Framework/MockObject/MockObject.php
        - tests/phpstan-shims/PHPUnit/Framework/TestCase.php
    treatPhpDocTypesAsCertain: false
    tipsOfTheDay: false
