parameters:
	ignoreErrors:
		-
			message: "#^Call to method getCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Order\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method getCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\OrderInProcess\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method getHash\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Order\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method getHash\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\OrderInProcess\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method setPaymentData\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\AbstractOrder\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method setPaymentData\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Order\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method setPaymentData\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\OrderInProcess\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method update\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\AbstractOrder\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method update\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Order\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method update\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\OrderInProcess\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Parameter \\#3 \\$Order of method QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Gateway\\\\Gateway\\:\\:purchase\\(\\) expects QUI\\\\ERP\\\\Order\\\\AbstractOrder, QUI\\\\ERP\\\\Order\\\\Order\\|QUI\\\\ERP\\\\Order\\\\OrderInProcess given\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Parameter \\$Order of method QUI\\\\ERP\\\\Payments\\\\Example\\\\Payment\\:\\:getGatewayDisplay\\(\\) has invalid type QUI\\\\ERP\\\\Order\\\\AbstractOrder\\.$#"
			count: 2
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Parameter \\$Step of method QUI\\\\ERP\\\\Payments\\\\Example\\\\Payment\\:\\:getGatewayDisplay\\(\\) has invalid type QUI\\\\ERP\\\\Order\\\\Controls\\\\AbstractOrderingStep\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Payment.php

		-
			message: "#^Call to method getArticles\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Order\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Server/Server.php

		-
			message: "#^Call to method getArticles\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\OrderInProcess\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Server/Server.php

		-
			message: "#^Parameter \\#2 \\$values of method Symfony\\\\Component\\\\HttpFoundation\\\\ResponseHeaderBag\\:\\:set\\(\\) expects array\\<string\\>\\|string\\|null, int given\\.$#"
			count: 1
			path: src/QUI/ERP/Payments/Example/Server/Server.php
